.advantages__title {
    margin-bottom: 20px;
}

.advantages__title-underline {
    width: 100px;
    border-top: 4px solid var(--accent-yellow);
    margin: 0 auto;
}

.advantages__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 32px;
    padding-bottom: 120px;
    text-align: center;
}

.advantages__card {
    grid-column: span 1;
}

.advantages__card-pic {
    max-width: 100px;
    margin-bottom: 48px;
}
