.destinations__list {
    display: flex;
    align-items: center;
    white-space: nowrap;
    max-width: 644px;
    margin-bottom: 64px;
    background: var(--stroke-color);
    border-radius: 5px;
}

.destinations__item {
    padding: 17px 52px;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
}

.destinations__item:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.destinations__item:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.destinations__item:hover,
.destinations__item:focus,
.destinations__item:active {
    background: var(--accent-blue);
    color: var(--general-white);
    opacity: 0.8;
}

.active {
    background: var(--accent-blue);
    color: var(--general-white);
}

.destinations__cards-container {
    position: relative;
    padding-bottom: 210px;
}

.destinations__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 48px;
    max-height: 376px;
    overflow: hidden;
}

.full {
    max-height: 100%;
}

.cities {
    display: none;
}

.places {
    display: none;
}

.destinations__card {
    grid-column: span 1;
    max-height: 376px;
}

.destinations__container {
    position: relative;
    max-width: 296px;
    max-height: 296px;
    margin-bottom: 24px;
}

.destinations__card-pic {
    max-width: 296px;
    max-height: 296px;
    transition: all 0.2s ease;
}

.destinations__container:hover .destinations__card-pic {
    filter: brightness(60%);
}

.destinations__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 128px;
    min-height: 48px;
    background-color: var(--general-white);
    color: var(--accent-blue);
    font-size: 18px;
    line-height: 21px;
    border: 1px solid var(--accent-blue);
    border-radius: 5px;
    display: none;
}

.destinations__button:hover,
.destinations__button:focus,
.destinations__button:active {
    opacity: 0.9;
}

.destinations__container:hover .destinations__button {
    display: block;
}

.destinations__card-name {
    color: var(--accent-blue);
}

.destinations .arrow {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
}
