.reviews__cards {
    padding-bottom: 120px;
}

.reviews__card {
    max-width: 400px;
    max-height: 760px;
    font-size: 18px;
    line-height: 21px;
}

.reviews__card-pic {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.reviews__card-stats {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: var(--bg-reviews-stats);
    padding: 16px 0 11px 24px;
    color: var(--general-white);
}

.reviews__info {
    background: var(--bg-color);
    max-width: 100%;
    min-height: 360px;
    max-height: 360px;
    padding: 24px;
}

.reviews__card-resort {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 5px;
    max-width: 400px;
}

.reviews__wrapper-1 {
    grid-column: span 7;
    position: relative;
    text-align: left;
}

.reviews__wrapper-2 {
    grid-column: span 3;
    position: relative;
    text-align: right;
}

.reviews__card-title {
    top: 0;
    font-weight: 700;
    color: var(--accent-blue);
    margin-bottom: 16px;
}

.reviews__card-rating {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 32px;
    background: var(--general-blue);
    border-radius: 8px;
    padding: 4px 11px;
    color: var(--general-white);
    font-size: 18px;
    line-height: 25px;
}

.reviews__card-location {
    bottom: 0;
    color: var(--accent-blue);
}

.reviews__card-amount {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    line-height: 16px;
    color: var(--secondary-text);
    margin-right: 0;
}

.reviews__review-person {
    display: flex;
    position: relative;
    margin-top: 24px;
    height: 64px;
}

.reviews__person-pic {
    padding: 5px;
}

.reviews__person-info {
    padding: 7px 0 7px 16px;
}

.reviews__person-name {
    font-weight: 700;
    margin-bottom: 8px;
}

.reviews__person-location {
    color: var(--secondary-text);
}

.reviews__review-text {
    max-width: 352px;
    margin-top: 17px;
}

.reviews__card {
    max-width: 400px;
    max-height: 760px;
}

.reviews .arrow {
    top: 180px;
}
