.sign-up__container {
    display: flex;
    background: var(--bg-color);
    position: relative;
}

.sign-up__pic {
    width: 134px;
    height: 200px;
    border-radius: 50%;
    padding: 57px 24px;
}

.sign-up__info {
    padding: 52px 50px 0 0;
}

.sign-up__text {
    font-weight: 700;
    margin-bottom: 20px;
}

.sign-up__button {
    width: 128px;
    height: 48px;
    background-color: var(--general-white);
    color: var(--accent-blue);
    font-size: 18px;
    line-height: 21px;
    border: 1px solid var(--accent-blue);
    border-radius: 5px;
}

.sign-up__button:hover,
.sign-up__button:focus,
.sign-up__button:active {
    opacity: 0.9;
}

.sign-up__close {
    position: absolute;
    top: 24px;
    right: 24px;
}
.sign-up-2 {
    display: none;
    padding: 24px 0;
}

.sign-up__container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up__container-2 img,
.sign-up__container-2 p {
    margin-right: 16px;
}

.sign-up__close-2 {
    width: 16px;
    height: 16px;
}

.sign-up__pic-2 {
    width: 58px;
    height: 58px;
    border-radius: 4px;
}

.sign-up__button-2 {
    background: white;
    color: var(--accent-blue);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    border: 0;
    padding: 0;
}

.sign-up__button-2:hover,
.sign-up__button-2:focus,
.sign-up__button-2:active {
    opacity: 0.9;
}
